.parent {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(7, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: 100vw;
    height: 100vh;
    font-family: monospace;
    }
    
.header { 
    grid-area: 1 / 1 / 3 / 5;
    background-color: green; }

h2 {
    padding: 10px;
}

button {
    border-radius: 8px;
    font-size: 12px;
    background-color: rgba(148, 148, 148, 0.966);
}

.header-buttons {
    text-align: center;
}

.header-buttons button{
    margin: 20px;
}

.stats { grid-area: 3 / 1 / 7 / 2; 
        background: beige;
        display: none;
        }

.search { grid-area: 3 / 2 / 5 / 5; }

.results { grid-area: 3 / 2 / 5 / 5;  }

.footer { grid-area: 7 / 1 / 8 / 5;  
        background-color: rgb(160, 146, 100);
        display: none;
    }